body{
    margin: 0;
}

.container.a{
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
}

.container.b{
    background-color: #333;
    padding: 1rem;
    width: 30%;
    margin-top: 1rem;
}

.container.c {
    background-color: #333;
    padding: 1rem;
    width: 60%;
    margin-top: 1rem;
}





#app {
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	position: fixed;
	width: 320px;
    background-color: #222222;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);

    color: #ffffff;

    list-style-type: none;
    // z-index: 100;

    p.profile-notice {   
        // margin-left: 24px;
        margin: 0px 0px 5px 24px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        height: 31px;
        font-size: 13px;
        font-weight: normal;
    }
    #profile-bottom-wrapper{
        display: flex;
        flex-direction: row;
        margin: 0 24px;
        justify-content: space-between;
        // justify-content: center;
    }
    #profile-wrapper.profile-wrapper{
        background-color: #585858;
        width: 272px;
        margin: 0 24px 0 24px;


        &.item-1-1 {
            height: 260px;
        }
        &.item-1-2 , &.item-1-3{
            // height: 200px;
            height: 130px;
            margin-bottom: 5px;
            
            .profile-header{
                // padding-top: 6px;
                // margin-top:px;
                position: absolute;
                z-index: 0;
                height:8%;
            }
            .popup-profile-default-picture {
                position: relative;
                z-index: 1;
                height:100%;
            }
        }
        &.item-2-2{
            height: 130px;
            .profile-header{
                // padding-top: 6px;
                // margin-top:px;
                position: absolute;
                z-index: 0;
                height:8%;
            }
            .popup-profile-default-picture {
                position: relative;
                z-index: 1;
                height:100%;
            }
        }
        &.item-2-3, &.item-3-3{
            height:130px;
            width: 133px;
            margin: 0;
            // display: flex;
            .profile-header{
                // padding-top: 6px;
                // margin-top:px;
                position: absolute;
                z-index: 0;
                height:8%;
            }

            .popup-profile-default-picture {
                position: relative;
                z-index: 1;
                height:100%;
                img.fill-3-copy-2 {
                    margin-top: 8px;
                    object-fit: contain;
                    // height: 120%;
                    width: 100%;
                }   
            }
        }
        .draggable{
            height:inherit;
            width: inherit;
            z-index: 200;
            cursor: move;
            &.over{
                outline: 3px dotted  rgba(255, 255, 255, 0.747);
            }
        }

        .profile-header {     
            height: 15%;        
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 10px;
            .popup-profile-number {
                margin-right: 5px;
                border: 2px solid #333333;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                background-color: #ff6f61;
                font-size: 13px;
            }
            .popup-profile-name{
                p{
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    // width: 50px;
                    line-height: 20px;
                    font-size: 16px;
                    text-overflow: ellipsis;
                }
            }
        }
        .popup-profile-default-picture {
            // deafult profile
            width: inherit;
            height: 85%;
            img.fill-3-copy-2 {
                object-fit: contain;
                height: 100%;
                width: 100%;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
        }
    }
    #popup-profile-warning{
        border: dashed 2px rgba(255, 255, 255, 0.5);
        margin: 0 24px;
        height:280px;
        // text-align: center;
        #popup-profile-warning-picture{
            height:50%;
            position: relative;
            // align-items: center;
            .group-2{
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                user-select: none;
                width: 90px;
                height: 74px;
                // position: fixed;
                position: absolute;
                right:0;
                bottom:0;
                transform: translate(-100%, 0);
            }
            
        }
        #popup-profile-warning-notice{
            height:50%;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            height: 31px;
            font-weight: normal;
            p.warning-title{
                width: 203px;
                font-size: 16px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
            }
            p.warning-sub-title{
                margin-top:5px;
                width: 170px;
                opacity: 0.58;
                font-size: 13px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}