body {
  margin: 0;
}

.container.a {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.container.b {
  background-color: #333;
  padding: 1rem;
  width: 30%;
  margin-top: 1rem;
}

.container.c {
  background-color: #333;
  padding: 1rem;
  width: 60%;
  margin-top: 1rem;
}

#app {
  border: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  width: 320px;
  background-color: #222222;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  font-family: monospace;
  padding-bottom: 24px;
  color: #ffffff;
  list-style-type: none;
}
#app p.profile-notice {
  margin-left: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
}
#app #profile-bottom-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 24px;
  justify-content: space-between;
}
#app #profile-wrapper.profile-wrapper {
  background-color: #585858;
  width: 272px;
  margin: 0 24px 0 24px;
}
#app #profile-wrapper.profile-wrapper.item-0-1 {
  height: 260px;
}
#app #profile-wrapper.profile-wrapper.item-0-2, #app #profile-wrapper.profile-wrapper.item-0-3 {
  height: 130px;
  margin-bottom: 5px;
}
#app #profile-wrapper.profile-wrapper.item-0-2 .profile-header, #app #profile-wrapper.profile-wrapper.item-0-3 .profile-header {
  position: absolute;
  z-index: 0;
  height: 8%;
}
#app #profile-wrapper.profile-wrapper.item-0-2 .popup-profile-default-picture, #app #profile-wrapper.profile-wrapper.item-0-3 .popup-profile-default-picture {
  position: relative;
  z-index: 1;
  height: 100%;
}
#app #profile-wrapper.profile-wrapper.item-1-2 {
  height: 130px;
}
#app #profile-wrapper.profile-wrapper.item-1-2 .profile-header {
  position: absolute;
  z-index: 0;
  height: 8%;
}
#app #profile-wrapper.profile-wrapper.item-1-2 .popup-profile-default-picture {
  position: relative;
  z-index: 1;
  height: 100%;
}
#app #profile-wrapper.profile-wrapper.item-1-3, #app #profile-wrapper.profile-wrapper.item-2-3 {
  height: 130px;
  width: 133px;
  margin: 0;
}
#app #profile-wrapper.profile-wrapper.item-1-3 .profile-header, #app #profile-wrapper.profile-wrapper.item-2-3 .profile-header {
  position: absolute;
  z-index: 0;
  height: 8%;
}
#app #profile-wrapper.profile-wrapper.item-1-3 .popup-profile-default-picture, #app #profile-wrapper.profile-wrapper.item-2-3 .popup-profile-default-picture {
  position: relative;
  z-index: 1;
  height: 100%;
}
#app #profile-wrapper.profile-wrapper.item-1-3 .popup-profile-default-picture img.fill-3-copy-2, #app #profile-wrapper.profile-wrapper.item-2-3 .popup-profile-default-picture img.fill-3-copy-2 {
  margin-top: 8px;
  object-fit: contain;
  width: 100%;
}
#app #profile-wrapper.profile-wrapper .draggable {
  height: inherit;
  width: inherit;
  z-index: 200;
  cursor: move;
}
#app #profile-wrapper.profile-wrapper .draggable.over {
  outline: 3px dotted rgba(255, 255, 255, 0.747);
}
#app #profile-wrapper.profile-wrapper .profile-header {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
#app #profile-wrapper.profile-wrapper .profile-header .popup-profile-number {
  margin-right: 5px;
  border: 2px solid #333333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ff6f61;
  font-size: 13px;
}
#app #profile-wrapper.profile-wrapper .profile-header .popup-profile-name p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
  font-size: 16px;
  text-overflow: ellipsis;
}
#app #profile-wrapper.profile-wrapper .popup-profile-default-picture {
  width: inherit;
  height: 85%;
}
#app #profile-wrapper.profile-wrapper .popup-profile-default-picture img.fill-3-copy-2 {
  object-fit: contain;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#app #popup-profile-warning {
  border: dashed 2px rgba(255, 255, 255, 0.5);
  margin: 0 24px;
  height: 280px;
}
#app #popup-profile-warning #popup-profile-warning-picture {
  height: 50%;
  position: relative;
}
#app #popup-profile-warning #popup-profile-warning-picture .group-2 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 90px;
  height: 74px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-100%, 0);
}
#app #popup-profile-warning #popup-profile-warning-notice {
  height: 50%;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 31px;
  font-weight: normal;
}
#app #popup-profile-warning #popup-profile-warning-notice p.warning-title {
  width: 203px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
#app #popup-profile-warning #popup-profile-warning-notice p.warning-sub-title {
  margin-top: 5px;
  width: 170px;
  opacity: 0.58;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
